nav{
  background-color: #0fb9b1;
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
  align-self: flex-start;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

body{
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin:0px;
  position: fixed;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: flex-start;
}

footer{
  background-color: rgba(225, 225, 225, .9);
  opacity: 95%;
  width: 100%;
  padding: 2%;
  padding-left: 5%;
  position: fixed;
  bottom: 0px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
}

button{
  background-color: rgba(225, 225, 225, .9);
  border:none;
  border-radius: 5px;
  padding:8px;
  transition: background-color 0.5s linear;
}

button:hover {
  background-color: #fcfcfc;
  border:none;
  border-radius: 5px;
  padding:8px;
}

sup{
  color: #ee5253;
  vertical-align: super;
}

svg{
  height: 125px;
  width: 125px;
  max-height: 300px;
  max-width:300px;
}

p{
  font-style: italic;
  font-size:2vw;
}

.text{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.box{
  background-color: rgba(225, 225, 225, .9);
  opacity: 95%;
  width: 35%;
  min-height: 40%;
  margin-top: 4%;
  position: relative;
  display:inline-flex;
  justify-content:center;
}

.buttonbox{
  margin: 10%;
  margin-left: 0;
  align-self: center;
}

.photobox{
  width: max-content;
  max-width: 75%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.radio{
  margin: 15px;
  margin-left: 10px;
}

.visible{
  visibility: visible;
}

#img{
  display: flex;
  flex-direction: column;
}

#letsCook{
  background-color: #0fb9b1;
  margin: 10px;
  margin-left: 0;
  padding-left: 22%;
  padding-right: 22%;
}

#letsCook:hover {
  background-color: #12ded4;
}

#clear{
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  width: 60px;
  margin: 25;
  position: absolute;
  bottom: 0;
  align-self: flex-end;
  visibility: hidden;
}

#clear:hover {
  background-color: #8a8a8a;
}

#rType{
  margin-left: 5px;
  margin-right: 17px;
  border-radius: 3px;
  padding: 7px;
}

#rName{
  margin-left: 5px;
  margin-right: 17px;
  border-radius: 3px;
  padding: 7px;
}

#addNew{
  background-color: #0fb9b1;
  margin: 2px;
}

#addNew:hover {
  background-color: #12ded4;
}
